<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36668038205-gghbljdq5gjjujhi11vv64u0lud7ed8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36668038205-gghbljdq5gjjujhi11vv64u0lud7ed8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAOyGA82hfd4E5ZVVr3FVRshzZ1Ug6CgVc</string>
	<key>GCM_SENDER_ID</key>
	<string>36668038205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.materialist</string>
	<key>PROJECT_ID</key>
	<string>materiallist-fec4c</string>
	<key>STORAGE_BUCKET</key>
	<string>materiallist-fec4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36668038205:ios:70234e12a9f3f945895e54</string>
</dict>
</plist>